<!DOCTYPE html>
<html ng-app="app">>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="keywords" content="<%= keywords %>" />
    <meta name="description" content="<%= description %>">
    <meta name="author" content="Seedmybox.com">
    <title ng-bind="title"> <%= title %></title>

    <link href="/plugins/jquery-polymaps/style.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="/plugins/jquery-metrojs/MetroJs.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/plugins/shape-hover/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/shape-hover/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/owl-carousel/owl.theme.css" />
    <link href="/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="/plugins/jquery-slider/css/jquery.sidr.light.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/plugins/jquery-ricksaw-chart/css/rickshaw.css" type="text/css" media="screen" >
    <link href="/plugins/jquery-isotope/isotope.css" rel="stylesheet" type="text/css"/>
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link href="/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <!-- END CORE CSS FRAMEWORK -->
    <!-- BEGIN CSS TEMPLATE -->
    <link href="/styles/style.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/responsive.css" rel="stylesheet" type="text/css"/>
    <!-- END CSS TEMPLATE -->
    <%- partial("partials/layout/header_javascript") %>
    <!-- angular -->
    <script>
      var appHelper = {
        // Vars (paths without trailing slash)
        templatesDir: '/scripts/templates/default',
        //assetsDir: '/',
        // Methods
        templatePath: function(view_name) {
          return this.templatesDir + '/' + view_name + '.html';
        },
        assetPath: function(file_path) {
          return '/' + file_path;
        }
      };
    </script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class=""   ng-controller="MainCtrl" ng-controller="MainCtrl" ng-class="{'settings-pane-open': layoutOptions.settingsPane.isOpen, 'chat-open': layoutOptions.chat.isOpen, 'login-page': isLoginPage && isMainPage == false, 'login-light': isLightLoginPage && isMainPage == false, 'lockscreen-page': isLockscreenPage && isMainPage == false, 'right-sidebar': layoutOptions.sidebar.isRight, 'boxed-container': layoutOptions.container.isBoxed}">
<%- partial("partials/layout/header") %>
<div class="page-content" ui-view></div>
<%- partial("partials/layout/chat") %>

<!-- BEGIN CORE JS FRAMEWORK-->

<!--[if lt IE 9]>
<script src="/plugins/respond.js"></script>
<![endif]-->

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<!-- END CORE JS FRAMEWORK -->
<script data-main="/scripts/main" src="/scripts/vendor/requirejs/require.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".live-tile,.flip-list").liveTile();
    });
</script>
<script src="//localhost:35729/livereload.js"></script>
<!-- END CORE TEMPLATE JS -->
</body>
</html>
