<%- partial("mixin/searchtop") %>
<div class="section first">
    <div class="section dark-grey p-t-20  p-b-20 m-b-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container">
        <div class="p-t-60">
            <div class="row">
              <div class="col-md-12">
                <!-- Tabs -->
                <ul class="nav nav-tabs" id="tab-01">
                  <% if (faqlist.length >0 ) { faqlist.forEach(function(item) { %>
                    <li class><a href="#<%=item.name %>"><%=item.name %></a></li>
                  <% }) } %>
                </ul>
                <!-- FAQ List -->
                <div class="tab-content">
                  <% if (faqlist.length >0 ) { faqlist.forEach(function(item) { %>
                  <div class="tab-pane" id="<%=item.name %>">
                    <div class="row">
                      <div class="panel-group" id="accordion" data-toggle="collapse">

                        <% item.faq.forEach(function(faq) { %>
                        <div class="panel panel-default">
                          <div class="panel-heading collapsed">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#<%=faq.name%>">
                                <%=faq.question%>
                              </a>
                            </h4>
                          </div>
                          <div id="<%=faq.name%>" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                              <%=faq.answer%>
                            </div>
                          </div>
                        </div>
                        <% })  %>
                      </div>
                      </div>
                  </div>
                  <% }) } %>
                </div>
              </div>
            </div>
            <br>

        </div>
    </div>

</div>
<%- partial("mixin/searchbottom") %>
