<%- partial("mixin/searchtop") %>
<div class="section white">
    <div class="container">
        <div class="p-t-40 p-b-40">
            <h2 class="text-center"><span class="semi-bold">Search Results for </span> <%= term %></h2>
        </div>
    </div>
</div>

<div class="section grey">
    <div class="container">
      <div class="title">
        <h2>Wiki Articles:</h2>
      </div>
      <% if (helpitems.length >0 ) { helpitems.forEach(function(item) { %>
      <article class="search-result row">
        <div class="col-xs-12 col-sm-12 col-md-2">
          <ul class="meta-search">
            <li><i class="glyphicon glyphicon-calendar"></i> <span><%=item.categories %></span></li>
            <li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>
            <li><i class="glyphicon glyphicon-tags"></i> <span><%=item.categories %></span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <% if(item.content.length > 50) item.content = item.content.substring(0,10); item.content = item.content + "..."; %>
          <h3><a href="<%=item.name %>" title="<%=item.title %>"><%=item.title %></a></h3>
          <p><%=item.content %></p>
          <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
        </div>
        <span class="clearfix borda"></span>
      </article>
    <% }) }  else { %>
      <article class="search-result row">
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <p>We couldn't find any Wiki matching "<%=term %>" — try browsing the full <a href="/help/wiki">Wiki</a>. </p>
        </div>
        <span class="clearfix borda"></span>
      </article>
      <% } %>
    </div>
</div>
<div class="section white"><div class="container"><div class="p-t-30 p-b-50"></div></div></div>
<div class="section grey">
  <div class="container">
      <div class="title">
      <h2>Frequently Asked Questions:</h2>
      </div>
      <% if (faqitems.length >0 ) { faqitems.forEach(function(item) { %>
      <article class="search-result row">
        <div class="col-xs-12 col-sm-12 col-md-2">
          <ul class="meta-search">
            <li><i class="glyphicon glyphicon-calendar"></i> <span><%=item.categories %></span></li>
            <li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>
            <li><i class="glyphicon glyphicon-tags"></i> <span><%=item.categories %></span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <h3><a href="<%=item.name %>" title="<%=item.question %>"><%=item.question %></a></h3>
          <p><%=item.answer %></p>
          <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
        </div>
        <span class="clearfix borda"></span>
      </article>
      <% }) }  else { %>
      <article class="search-result row">
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <p>We couldn't find any FAQ matching "<%=term %>" — try browsing the full <a href="/help/faq">FAQ</a>. </p>
        </div>
        <span class="clearfix borda"></span>
      </article>
      <% } %>
    </div>
    </div>
</div>
